DATABASE_URL="postgresql://postgres:password@localhost:5432/animayuks?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="CAMBIA_ESTO_POR_UN_SECRETO_SEGURO_DE_AL_MENOS_32_CARACTERES"
JWT_EXPIRES_IN="15m"
PORT=3000
